.container {
    padding-top: 40px;
    width: 480px;
    margin: auto;
  }
  
  header {
    display: flex;
    margin: 0;
    font-family: sans-serif;
    background-color: #fff;
    box-shadow: 2px 2px 6px 3px hsla(0, 0%, 0%, .2);
  
  /* Неподвижный header */
    position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 40px;
      z-index: 20;
  }
  
  h1 {
    margin: auto;
  }
  
  .letter {
    height: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 3px;
    list-style-type: none;
    line-height: 2rem;
    text-align: center;
    color: #d00;
    background: navajowhite;
    /* Напиши код под этой строкой */
     position: sticky;
     top: 40px;
      
  }