ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.label {
  
    display: flex;
    align-items: center;


}

.checkbox {
    /* appearance: none;
    position: absolute;

    top: 0;
    left: 0; */
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  
}

.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-color: red;

    border: 1px solid red;
    border-radius: 4px;

    margin-right: 10px;

    cursor: pointer;
    
}

.checkbox:checked + .icon {
    border-color: blue;
    background-image: url(./icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
}